@import model.Station
@(title: String, stations: Seq[Station])(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4p-HStRDTOnsonu2pcKeIkDWXS0D6g28&callback=initMap"
        async defer></script>
        <style>
                #map {
                    height: 100%;
                }

                html, body {
                    height: 100%;
                    margin: 0;
                    padding: 0;
                }
        </style>
    </head>

    <body>
        <div id="columnStationTable" style="float: left;
            margin: 0;
            width: 30%;">
            <div class="col1">
                <table id="singleStationInfoTable"></table>
            </div>
            <div class="col2">
                Find City : <br>
                <input type="text" id="cityname" title="Find city">
                <button onclick="filterByCityName()" type="button">Find By City</button><br><br><br>
                <button onclick="showStations()" type="button">Very Good</button><br>
                <button onclick="resetMap()" type="button">Good</button><br>
                <button onclick="resetMap()" type="button">Mild</button><br>
                <button onclick="resetMap()" type="button">Bad</button><br>
                <button onclick="resetMap()" type="button">Very Bad</button><br>
                <button onclick="resetMap()" type="button">RESET</button><br>
            </div>
        </div>
        <div id="map"></div>

        <table id="tempStationsTable">
        @for(station <- stations) {
            <tr>
                <th>@station.id</th>
                <th>@station.stationName</th>
                <th>@station.geogrLat</th>
                <th>@station.geogrLng</th>
            </tr>
        }
        </table>
        <script>
                var map;
                var listOfPoints = [];
                function initMap() {
                    var table = document.getElementById('singleStationInfoTable');
                    for (var i = 0 ; i < 12 ; i++) {
                        table.insertRow(i);
                        for (var j = 0 ; j < 2 ; j++) {
                            table.rows[i].insertCell(j);
                        }
                    }
                    table.rows[0].cells[0].innerHTML = "Name";
                    table.rows[1].cells[0].innerHTML = "Lat ";
                    table.rows[2].cells[0].innerHTML = "Lng ";
                    table.rows[3].cells[0].innerHTML = "Pollution level ";
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: {lat: 50.068000, lng: 19.912410},
                        zoom: 8
                    });
                    map.data.setStyle(function (feature) {
                        return {
                            title: feature.getProperty('name'),
                            optimized: false
                        };
                    });
                    setStationPoints();
                }

                function setStationPoints() {
                    var table = document.getElementById('tempStationsTable');
                    var rows = table.rows;
                    for (var r = 0, n = rows.length; r < n; r++) {
                        var id = parseInt(rows[r].cells[0].innerHTML);
                        var name = String(rows[r].cells[1].innerHTML);
                        var lan = parseFloat(String(rows[r].cells[2].innerHTML));
                        var lng = parseFloat(String(rows[r].cells[3].innerHTML));
                        addCity(id, name, lan, lng);
                    }
                    table.parentNode.removeChild(table);
                }

                function addCity(id, name, latitude, longitude) {
                    var marker = new google.maps.Marker({
                        position: {lat: latitude, lng: longitude},
                        label: ' ',
                        map: map
                    });
                    listOfPoints.push({id: id, point: marker});
                    marker.addListener('click', function () {
                        setStationInfoTable(id, name, latitude, longitude)
                    });
                }

                function setStationInfoTable(id, name, lat, lng) {
                    var table = document.getElementById('singleStationInfoTable');
                    map.setCenter({lat: lat, lng: lng});
                    map.setZoom(map.zoom + 2);
                    setStationInfoById('/getInfo/'.concat(String(id)), name, lat, lng, table);
                }

                function resetMap() {
                    listOfPoints.forEach(function (e) {
                        e['point'].setMap(map);
                    });
                    map.setCenter({lat: 50.068000, lng: 19.912410});
                    document.getElementById('cityname').value = "";
                }

                function showStations() {
                    $.get('/getStationsForQuality/4', function (data, status) {
                        if (status === "success") {

                        }
                    });
                }

                function filterPoints(idOfPointsToShow) {
                    listOfPoints.forEach(function (e) {
                        e['point'].setMap(null);
                    });
                    for (i = 0 ; i < idOfPointsToShow.length ; i++) {
                        for (var j = 0 ; j < listOfPoints.length ; j++) {
                            if (idOfPointsToShow[i] === listOfPoints[j]['id']) {
                                listOfPoints[j]['point'].setMap(map);
                            }
                        }
                    }
                }

                function setStationInfoById(url, name, lat, lng, table) {
                    $.get(url, function (data, status) {
                        if (status === "success") {
                            table.rows[0].cells[1].innerHTML = name;
                            table.rows[1].cells[1].innerHTML = lat;
                            table.rows[2].cells[1].innerHTML = lng;
                            table.rows[3].cells[1].innerHTML = data['indexLevelName'];
                            var measurements = data['measurements'];
                            for (var i = 0 ; i < measurements.length ; i++) {
                                table.rows[i + 4].cells[0].innerHTML = measurements[i]['key'];
                                table.rows[i + 4].cells[1].innerHTML = measurements[i]['lastValue'];
                            }
                        }
                    });
                }

                function filterByCityName() {
                    var cityname = document.getElementById('cityname').value;
                    var table = document.getElementById('singleStationInfoTable');
                    if (cityname !== "") {
                        $.get("/getReportForCity/".concat(cityname), function (data, status) {
                            if (status === "success") {
                                filterPoints(data['stations']);
                                table.rows[0].cells[1].innerHTML = cityname;
                                table.rows[3].cells[1].innerHTML = data['indexLevelName'];
                                var measurements = data['measurements'];
                                for (var i = 0 ; i < measurements.length ; i++) {
                                    table.rows[i + 4].cells[0].innerHTML = measurements[i]['key'];
                                    table.rows[i + 4].cells[1].innerHTML = measurements[i]['lastValue'];
                                }
                            }
                        });
                        $.get("/getCityLatLng/".concat(cityname), function (data, status) {
                            if (status === "success") {
                                map.setCenter({lat: data['lat'], lng: data['lng']});
                                map.setZoom(13);
                                table.rows[1].cells[1].innerHTML = data['lat'];
                                table.rows[2].cells[1].innerHTML = data['lng'];
                            }
                        });
                    } else {
                        alert("Empty cityname!");
                    }
                }
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </body>
</html>